@font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  
  #container {
    margin:0 auto;
    width:1185px;
    height:auto;
  }
  
  header{
    width:100%;
    display:flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    padding: 20px 0px 16px;
    gap:16px;
    position: relative;
    height: 126px;
    border-bottom:1px solid lightgray;
  }
  
  #logo{
    display: flex;
    align-items: center;
  }
  #logo img {
    width: 45px;
    height: auto;
    margin-right: 20px;
  }
  #logo h1 {
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:45px;
    color: black;
  }
  
  #topMenu {
    height: 60px;
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
  }
  #topMenu > li {
    margin-right: 5px
  }
  #topMenu > li:last-child {
    margin-right: 0;
    margin-left: 15px;
  }
  #topMenu > li > a{
    display:block;
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:25px;
    color:#4C5182;
    padding:10px 10px; 
    transition: background-color 0.3s, color 0.3s;
  }
  #topMenu > li:last-child a {
    background-color: #4C5182;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
  }
  #topMenu > li > a:hover {
    color:#000;  /* 마우스 오버하면 색상 바뀜 */ 
  }
  
  .board_wrap {
    width:95%;
    height: auto;
    margin: auto;
    margin-top: 50px;

  }

  #board_title img{
    width: 45px;
    height: auto;
    float: left;
  }
  #board_title h1 {
    font-family: tvNJoyful;
    font-weight: bold;
    float: left;
  }
  #board_title p {
    font-family: tvNJoyful;
    font-weight: medium;
    color: gray;
    float: left;
  }
  


  .board_list {
    
  }


  
  footer{
    width:100%;
    height:auto;
    margin: auto;
    margin-top: 50px;
    border-top:1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
  }
  #bottomMenu{
    width:100%;
    height:auto;
    position:relative;
  }
  #bottomMenu ul li{
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:20px;
    float:left;
    padding: 10px 20px;
    border-right:1px solid #ddd;
  }
  #address{
    width: 100%;
    margin-top:30px;
    margin-left: 35px;
    text-align: left;
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:25px;
    color:#4C5182;
  }