/* 1. (로그인 전) 대문 */

position: relative;
width: 1185px;
height: 714px;

background: #FFFFFF;
 
/* Header  */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 11px 128px 16px;
gap: 16px;

position: absolute;
height: 126px;
left: -67px;
right: -91px;
top: calc(50% - 126px/2 - 294px);

border-radius: 4px;


/* Header  */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 11px 128px 16px;
gap: 16px;

width: 1343px;
height: 126px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 18px;

width: 1065px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 424px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 210px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

width: 210px;
height: 46px;

font-family: 'KoreanSKCGDR';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Categories */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 382px;
height: 21px;

background: #FFFFFF;
transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 6px 0px 0px;
gap: 8px;

width: 72.88px;
height: 21px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Our Story */

width: 72px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Neutral / 500 */
color: #64748B;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Light/Icon */

width: 16px;
height: 16px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* vuesax/linear/arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 17.11%;
right: 16.89%;
top: 43.57%;
bottom: 27.05%;

/* Neutral / 500 */
border: 1px solid #64748B;
transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100.19%;
bottom: -100.19%;

opacity: 0;
transform: rotate(-179.89deg);


/* Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 20px;
gap: 10px;

width: 80.27px;
height: 21px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Info */

width: 28px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Neutral / 500 */
color: #64748B;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Light/Icon */

width: 16px;
height: 16px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* vuesax/linear/arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 17.11%;
right: 16.89%;
top: 43.57%;
bottom: 27.05%;

/* Neutral / 500 */
border: 1px solid #64748B;
transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100.19%;
bottom: -100.19%;

opacity: 0;
transform: rotate(-179.89deg);


/* Community */

width: 91.86px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/* Neutral / 500 */
color: #64748B;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Item */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 22.87px;
height: 21px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Light/Icon */

width: 16px;
height: 16px;

transform: rotate(0.11deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/linear/arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* arrow-down */

position: absolute;
width: 16px;
height: 16px;
left: 0.03px;
top: 0px;

transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 17.11%;
right: 16.89%;
top: 43.57%;
bottom: 27.05%;

/* Neutral / 500 */
border: 1px solid #64748B;
transform: rotate(0.11deg);


/* Vector */

position: absolute;
left: 100%;
right: -100%;
top: 100.19%;
bottom: -100.19%;

opacity: 0;
transform: rotate(-179.89deg);


/* Light/Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 72px;
height: 48px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Login */

width: 40px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Light/Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 11px 24px;

width: 136px;
height: 52px;

background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
transform: rotate(0.09deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* 편지 주고받기 */

width: 93px;
height: 21px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.83);

transform: rotate(0.09deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seperator */

width: 1087px;
height: 0px;

/* Neutral / 100 */
border: 1px solid #E7EAEE;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* “무지개 편지” 떠나간 아이들이 그리울 때. 손을 내밀면 어떻게 다가왔는지 이름을 부르면 어떻게 반응했는지 시간이 흘러도 여전히 그리운 당신의 가족에게 전하고 싶은 말을 모아 편지로 직접 보내보세요. 정말로 그 말이 닿길 기원하며 가상의 답변을 받을 수 있습니다. */

position: absolute;
width: 666px;
height: 435px;
left: 262px;
top: 289px;

font-family: 'tvN Enjoystories';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 55px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* image 35 */

position: absolute;
width: 166px;
height: 146px;
left: 520px;
top: 162px;

background: url(image.png);
