@font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'tvNJoyful';
    src: url('ttf/tvNJoyfulLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  
  #container {
    margin:0 auto;
    width:1185px;
    height:auto;
  }
  
  header{
    width:100%;
    display:flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    padding: 20px 0px 16px;
    gap:16px;
    position: relative;
    height: 126px;
    border-bottom:1px solid lightgray;
  }
  
  #logo{
    display: flex;
    align-items: center;
  }
  #logo h1 {
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:45px;
    color: black;
  }
  
  #topMenu {
    height: 60px;
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
  }
  #topMenu > li {
    margin-right: 5px
  }
  #topMenu > li:last-child {
    margin-right: 0;
  }
  #topMenu > li > a{
    display:block;
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:25px;
    color:#4C5182;
    padding:10px 10px; 
    transition: background-color 0.3s, color 0.3s;
  }
  #topMenu > li:last-child a {
    background-color: #4C5182;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: 18px;
  }
  #topMenu > li > a:hover {
    color:#000;  /* 마우스 오버하면 색상 바뀜 */ 
  }

  .login img {
    display: flex;
    margin: auto;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  .login h1{
    font-family: tvNJoyful;
    font-weight:bold;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
  }
  .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.form-group input{
    font-size:15px;
    width: 370px;
    height: 50px;
    padding:20px;
    border: 0.5px solid #f2f2f2;
    border-radius:8px;
    background-color: #f2f2f2;
}
  .submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      width: 370px;
      height: 60px;
      flex-shrink: 0;
      margin: 15px auto 0;
      border: 0.5px solid #4C5182;
      border-radius: 8px;
      background: #4C5182;
      color: white;
      font-size: 18px;
      cursor: pointer;
  }
  .submit-button:hover {
    background: #3B3D56;
  }
  #toSignin {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      padding-left: 300px; 
      margin-bottom: 10%;
  }
  
  footer{
    width:100%;
    height:auto;
    margin: auto;
    margin-top: 50px;
    border-top:1px solid #E7EAEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
  }
  #bottomMenu{
    width:100%;
    height:auto;
    position:relative;
  }
  #bottomMenu ul li{
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:20px;
    float:left;
    padding: 10px 20px;
    border-right:1px solid #ddd;
  }
  #address{
    width: 100%;
    margin-top:30px;
    margin-left: 35px;
    text-align: left;
    font-family: tvNJoyful;
    font-weight:bold;
    font-size:25px;
    color:#4C5182;
  }