@font-face {
  font-family: 'tvNJoyful';
  src: url('ttf/tvNJoyfulBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'tvNJoyful';
  src: url('ttf/tvNJoyfulMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tvNJoyful';
  src: url('ttf/tvNJoyfulLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'DMSans';
  src: url('ttf/DMSans.ttf') format('truetype');
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

header{
  margin: auto;
  display: flex;
  width: 1200px;
  height: 152px;
  padding: 20px 128px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  height: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 18px;
  flex-shrink: 0;
}

#logo{
  display: flex;
  /*width: 250px;*/
  height: 46px;
  flex-direction: row;
}
#logo h1 {
  font-family: tvNJoyful;
  font-weight:bold;
  font-size:50px;
  color: black;
}
#topMenu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#topMenu > li {
  margin-right: 30px
}
#topMenu > li:last-child {
  margin-right: 0;
}
#topMenu > li > a{
  display:block;
  color: var(--neutral-500, #64748B);
  font-family: DMSans;
  font-size: 17px;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s;
}
#topMenu > li:last-child a {
  color: #000;
  font-style: normal;
  font-weight: 600;
  padding: 10px 25px; /*나중에 삭제*/
}
#topMenu > li > a:hover {
  color:#000;
}
#topMenu > li:last-child a:hover{
  color: gray; /*나중에 효과 바꿀 것 - 그림자 혹은 색 변경 */
}
#login {
  display: block;
}
#logout {
  font-weight: 600;
  color: #4C5182 !important;
}
#logout:hover{
  color: #868dc9 !important;
  font-weight: 650 !important;
}

.seperator {
  width: 1185px;
  height: 1px;
  background-color: #E7EAEE;
  margin: auto 0;
}

#container {
  margin:0 auto;
  width:1185px;
  height:auto;
}

#explanation {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display:inblock;
  font-family: tvNJoyful;
  font-weight:medium;
  font-size: 30px;
}
#explanation img {
  width: 40%;
  height: auto;
  margin: 0;
  /*flex-shrink: 0;*/
}

#send-letter {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-family: tvNJoyful;
  text-align: center;
}
#send-letter h1{
  font-weight: bold;
  font-size: 55px;
  margin: 40px 0;
}
#send-letter h2{
  font-weight: bold;
  font-size: 45px;
  margin: 30px 0;
}
#send-letter h5{
  font-weight: bold;
  font-size: 30px;
  margin: 5px 0;
  color: #B05454;
}
#send-letter img {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}

#go-create {
  width: 310px;
  height: 62px;
  color: white;
  background: black;
  border-radius: 8px;
  margin: 30px 0;
  font-size: 20px;
  font-family: DMSans;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
#send-letter button:hover {
  background: #805475;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4)
}

#finish-letter{
  width: 80%;
  margin: auto;
  padding: 20px;
  font-family: tvNJoyful;
  text-align: center;
}
#finish-letter h1{
  font-weight: 700px;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom:30px;
}
#envelope{
  margin: auto;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "box1 . box2"
    ". box3 .";
  background-color: #f7c4e3c9;
  /*  background-color: #FCE5E9;
    background-color: #F5B2BE;
    background-color: #F5DFEE;
  */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#sender{
  padding: 40px;
  font-size: 25px;
  grid-area: box1;
}
#stamp{
  padding: 30px;
  grid-area: box2;
}
#stamp img{
  width: 100px;
} 
#receiver{
  padding: 30px;
  font-size: 25px;
  grid-area: box3;
}
#finish-letter p {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  font-size: 30px;
  font-weight: 550;
}
#go-chat{
  margin: auto;
  margin-top: 10px;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}
#go-chat:hover{
  background-color: #f7c4e3;
}

footer{
  width: 1185px;
  margin: auto;
  margin-top: 50px;
  border-top:1px solid #E7EAEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
}
#bottomMenu{
  width:100%;
  height:auto;
  position:relative;
}
#bottomMenu ul li{
  font-family: tvNJoyful;
  font-weight:bold;
  font-size:20px;
  float:left;
  padding: 10px 20px;
  border-right:1px solid #ddd;
}
#address{
  width: 100%;
  margin-top:30px;
  margin-left: 35px;
  margin-bottom: 25px;
  text-align: left;
  font-family: tvNJoyful;
  font-weight:bold;
  font-size:25px;
  color:#4C5182;
}