@font-face {
    font-family: 'tvnEnjoy';
    src: url('../assets/fonts/tvNJoyfulBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url('../assets/fonts/DMSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    font-family: Pretendard-Regular;
}
ul {
    list-style: none;
}

/*  SignUp  */
#SignupWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#SignupWrapper img {
    width: 180px;
}
#SignupWrapper h1 {
    font-family: UhBeeSe_hyun;
    font-weight: normal;
    font-size: 35px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#SignupWrapper h3 {
    color: #1F434E;
    /*margin-bottom: 50px;*/
}
#SignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border: none;
    border-radius: 8px;
    background: #8BCEF4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#SignButton:hover {
    background: #BAE2FA;
}


/*  Login  */
#LoginWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#LoginWrapper h2 {
    font-family: UhBeeSe_hyun;
    font-weight: normal;
    font-size: 35px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#LoginSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border: none;
    border-radius: 8px;
    background: #8BCEF4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#LoginSubmit:hover {
    background: #BAE2FA;
}
#nickname {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#confirmPassword {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*  Persona(View)  */
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
  }  
#addContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    fill: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
#addPersona {
    color: gray;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/*  PersonaSetting  */
#startPersona{
    width: 80%;
    margin: auto;
    font-family: tvnEnjoy;
    text-align: center;
}
#startPersona h1{
    font-weight: bold;
    font-size: 55px;
    margin: 40px 0;
}
#startPersona h2{
    font-family: DMSans;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}
#startPersona h5{
    font-family: DMSans;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
    color: #B05454;
}
#goToCreate {
    width: 310px;
    height: 62px;
    color: white;
    background: black;
    border-radius: 8px;
    margin: 30px 0;
    font-size: 20px;
    font-family: DMSans;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#goToCreate:hover {
    background: #805475;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4)
  }
  
  #targetElement {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #species {
    width: 680px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
  }
  #species h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
  }
  #species h4 {
    font-family: DMSans;
    font-weight: bold;
    font-size: 30px;
    color: #4C5182;
    margin-bottom: 40px;
  }
  .btn-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .btn-grid {
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .speciesButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #E4ECFD;
    cursor: pointer;
  }
  .speciesButton img {
    width: 160px;
    height: auto;
    margin-bottom: 8px;
  }
  .speciesButton:hover {
    box-shadow: 3px 0 5px #8f92b4, 0 3px 5px #8f92b4;
  }
  .notHereBtn {
    display: flex;
    margin: auto;
    cursor: pointer;
  }
  .notHereBtn img {
    width: 168px;
    height: auto;
    margin-bottom: 6px;
  }
  .notHereBtn:hover {
    box-shadow: 3px 0 5px #8f92b4, 0 3px 5px #8f92b4;
  }


#name h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
}
#name input {
    padding: 10px;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 100px;
}

#character {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 100px;
}
#character p {
    font-family: DMSans;
    font-size: 20px;
    margin-bottom: 10px;
}
#character select {
    margin: 20px;
    width: 150px;
    padding: 10px;
    font-family: DMSans;
    font-size: 15px;
}

#ownerName h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
}
#ownerName p {
    font-family: DMSans;
    font-weight: bold;
    font-size: 18px;
    color: #4C5182;
    margin-bottom: 30px;
}
#ownerName input {
    padding: 10px;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 100px;
}

#textBox h4 {
    display: block;
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
#textBox h5 {
    font-family: DMSans;
    font-size: 20px;
    color: #4C5182;
    margin-bottom: 30px;
}
#more {
    display: flex;
    justify-content: center;
}
#selectGroup {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}
#selectGroup select{
    margin: 20px;
    width: 170px;
    padding: 10px;
    font-family: DMSans;
    font-size: 15px;
}

#petImage h1{
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 30px;
}
#petImage input {
    margin: auto 0; 
    font-size: 15px;
    margin-bottom: 100px;
}

#passedDate h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 30px;
}
#passedDate input{
    font-size: 15px;
    margin-bottom: 100px;
}


#backBtn {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-family: DMSans;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid var(--Dark-Blue, #0A2640);
    background: white;
    margin-bottom: 80px;
}
#doneBtn {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-family: DMSans;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    color: white;
    background: rgba(0, 0, 0, 0.83);
}


/* Top Button */
.scroll-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
  }
  
  .top-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6d719b;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .top-button:hover {
    background-color: #404678;
  }
  

/*  Profile(Persona)  */
#profileCard {
    width: 250px;
    height: 436px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.178);
}
#profileImage {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileImage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#profileInfo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#profileInfo h3 {
    margin: 30px;
    font-size: 22px;
    font-style: normal;
    color: #333;
}
#buttonContainer {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
#chat, #diary {
    margin: 10px;
    width: 160px;
    height: 40px;
    font-size: 19px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#chat:hover, #diary:hover {
    background-color: #BAE2FA;
}


/*  Chat  */
.chat-messages {
    margin: 20px;
}
#inputField {
    margin: 5px;
    padding-left: 16px;
    border: none;
    width: 660px;
    height: 50px;
    font-size: 17px;
    outline: none;
}
#sendBtn {
    margin: 5px;
    font-family: DMSans;
    font-weight: 600;
    font-size: 18px;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #979CD2;
}
#sendBtn:hover {
    background-color: #5961b6;
}



/*  PersonaEdit  */