@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    font-family: Pretendard;
}
ul {
    list-style: none;
}

/*  Brand  */
#first {
    margin-top: 100px;
}
#second {
    font-family: Pretendard;
}
#third {
    font-family: Pretendard;
}
#fourth {
    font-family: Pretendard;
}
#fifth {
    font-family: Pretendard;
    margin-bottom: 300px;
}
#lastBrand {
    margin-right: -70px;
    margin-bottom: 70px;
}
#startBrand {
    margin-top: 80px;
    display: flex;
    width: 169px;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 8px;
    border-radius: 56px;
    border: none;
    color: #fff;
    background: #4d74ff;
    cursor: pointer;
}

/*  SignUp  */
#signupHeadText {
    font-family: UhBeeSe_hyun;
    font-weight: normal;
    font-size: 35px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
  }
#SignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border: none;
    border-radius: 8px;
    background: #8BCEF4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#SignButton:hover {
    background: #BAE2FA;
}


/*  Login  */
#LoginSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border: none;
    border-radius: 8px;
    background: #8BCEF4;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#LoginSubmit:hover {
    background: #BAE2FA;
}
#nickname {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#confirmPassword {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*  Persona(View)  */
/*#addContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    fill: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
} */

/*  PersonaSetting  */
#personaStart h1 {
    margin: auto;
    margin-top: 30px;
    font-family: UhBeeSe_hyun;
    font-weight: 400;
    font-size: 40px;
}
#personaStart p {
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

/* 이미지 styledcomponent로 바꿔주기. (나중에) */
#cardContainer {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
#cardContainer img {
    width: 200px;
    height: auto;
    cursor: pointer;
}
#cardContainer img:hover {
    filter: brightness(0.9);
}


/*  Persona + { Animal }  */


/* Top Button */
.scroll-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
  }
  
  .top-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 18px;
    border: 0.5px solid #d9d9d9;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }
  
  .top-button:hover {
    background-color: #E9F5FF;
  }


/*  Chat  */
#chatHeadText {
    font-family: UhBeeSe_hyun;
    font-weight: normal;
    font-size: 40px;
}


/*  Diary  */
#diaryButton {
    display: flex;
    margin: 10px;
    align-items:start;
}
#diaryHead h1 {
    font-family: UhBeeSe_hyun;
}
#diaryHead p {
    font-family: UhBeeSe_hyun;
}

/*  Community  */
#rainbowPlatform {
    font-family: UhBeeSe_hyun;
    font-size: 35px;
    text-align: center;
}


/*  CommunityPost  */
#cmTitle {
    padding: 15px;
    margin-bottom: 8px;
    width: 383px;
    height: 41px;
    border-radius: 3px;
    border: 0.5px solid var(--4-d-7-e-95, #4D7E95);
}
#cmTitle:focus {
    outline: none;
}
#cmBody {
    margin: auto;
    padding: 15px;
    width: 383px;
    height: 345px;
    border-radius: 3px;
    border: 0.5px solid var(--4-d-7-e-95, #4D7E95);
}
#cmBody:focus {
    outline: none;
}
#cmPostHead {
    font-family: UhBeeSe_hyun;
    font-size: 35px;
    text-align: center;
    margin: 30px;
}
#cmViewHead {
    font-family: UhBeeSe_hyun;
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
}
#cmViewHeadComment {
    font-family: UhBeeSe_hyun;
    font-size: 20px;
    text-align: left; 
    margin-left: 20px;
    margin-top: 15px;
}
/*
const TitleEditor = styled.div`
  width: 383px;
  height: 41px;
  border-radius: 3px;
  border: 0.5px solid var(--4-d-7-e-95, #4d7e95);
`;
const BodyEditor = styled.div`
  width: 383px;
  height: 345px;
  border-radius: 3px;
  border: 0.5px solid var(--4-d-7-e-95, #4d7e95);
  background: #fff;
`;*/

/*  Tutorial (Chat)  */
#tutorialChat {
    font-family: UhBeeSe_hyun;
    font-size: 30px;
}


/*  My Page  */
#my-content {
    margin: auto; 
    padding: 30px;
    width: 800px;
    height: 800px;
    font-size: 15px;
    h1 {
        font-family: Uhbee-Sehyun;
    }
}

/*






*/