@font-face {
    font-family: 'tvnEnjoy';
    src: url('../assets/fonts/tvNJoyfulBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url('../assets/fonts/DMSans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
ul {
    list-style: none;
}

/*  SignUp  */
#SignupWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#SignupWrapper h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 50px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#SignupWrapper h3 {
    font-family: DMSans;
    color: #111B4F;
    /*margin-bottom: 50px;*/
}
#SignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border-radius: 8px;
    background: #4C5182;
    color: white;
    font-family: DMSans;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#SignButton:hover {
    background: #283064;
}


/*  Login  */
#LoginWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#LoginWrapper h2 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 50px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#LoginSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border-radius: 8px;
    background: #4C5182;
    color: white;
    font-family: DMSans;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#LoginSubmit:hover {
    background: #283064;
}

/*  Persona  */
#PersonaBtn {
    width: 240px;
    height: 57px;
    border-radius: 8px;
    background: black;
    color: white;
    font-family: DMSans;
    font-weight: 550;
    font-size: 17.5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#PersonaBtn:hover {
    background-color: #bee497;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4)
}

/*  PersonaView  */
#addContainer {

}
#addPersona {

}
/*
.add-btn {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: white;
  fill: #FFF;
  stroke-width: 0.5px;
  stroke: #D9D9D9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#ps-add {
  color: #64748B;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

*/

/*  Profile  */
