@font-face {
    font-family: 'tvnEnjoy';
    src: url('../assets/fonts/tvNJoyfulBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url('../assets/fonts/DMSans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
ul {
    list-style: none;
}

/*  SignUp  */
#SignupWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#SignupWrapper h1 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 50px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#SignupWrapper h3 {
    font-family: DMSans;
    color: #111B4F;
    /*margin-bottom: 50px;*/
}
#SignButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border-radius: 8px;
    background: #4C5182;
    color: white;
    font-family: DMSans;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#SignButton:hover {
    background: #283064;
}


/*  Login  */
#LoginWrapper {
    margin: auto;
    padding: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#LoginWrapper h2 {
    font-family: tvnEnjoy;
    font-weight: bold;
    font-size: 50px;
    /*margin-top: 5%;
    margin-bottom: 10px;*/
}
#LoginSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 15px auto 0;
    border-radius: 8px;
    background: #4C5182;
    color: white;
    font-family: DMSans;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#LoginSubmit:hover {
    background: #283064;
}
#nickname {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#confirmPassword {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*  Persona  */
#PersonaBtn {
    width: 240px;
    height: 57px;
    border-radius: 8px;
    background: black;
    color: white;
    font-family: DMSans;
    font-weight: 550;
    font-size: 17.5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#PersonaBtn:hover {
    background-color: #bee497;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4)
}


/*  PersonaView  */
#addContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    fill: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
#addPersona {
    color: gray;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/*  Profile  */
