@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}
ul {
    list-style: none;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 72px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 18px;
    flex-shrink: 0;
}

#logo {
    display: flex; 
    height: 65px;
    flex-direction: row;
}
#logo h1 {
    font-family: UhBeeSe_hyun;
    font-weight: 600;
    font-size: 36px;
    color: black;
}

@media (max-width: 768px) {
  #menu {
    width: 100%;
    margin: 0; 
    gap: 0; 
  }
  #logo {
    height: 30px; 
  }
  #logo h1 {
    font-size: 20px; 
  }
}
#topMenu {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: Pretendard;
    font-size: 18px;
}
#topMenu > li {
    margin-right: 50px;
}
#topMenu > li:last-child {
    margin-right: 10px;
}
#goMyPage {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#goMyPage:hover {
  color: black;
}